.img-front{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 30px;
}

.card-content{
    box-shadow: 1px 1px 1px 1px gray;
}

body{
    background: #D3D3D3;
}

.social{
    border: 1px solid black;
    padding: 10px;
    transition: 1s;
}

.social:hover{
    background: black;
    color: #D3D3D3;
}

.date{
    font-size: 18px;
    font-style: italic;
    margin-left: 12%;
}

.title{
    font-family: 'Arbutus Slab', serif;

}
