{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to pitches Website! find the latest pitch here.</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body card-content">
                    {% if current_user.profile_pic_path %}
                    <img src="{{url_for('static',filename=current_user.profile_pic_path)}}" alt="" class="img-thumbnail img-front">
                    {% endif %}
                <h5>Hey Welcome to pitch website</h5>
                    <h2>{{ current_user.username }}</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
