{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <h1>Welcome to pitches Website! find the latest pitch here.</h1>
    <div class="container">
        <div class="row">
        <div class="col-md-12">
{#             {{wtf.quick_form(PitchForm)}}#}
        </div>
            <div class="col-md-12">
                <div class="card-body card-content">
                    {% if current_user.profile_pic_path %}
                    <img src="{{url_for('static',filename=current_user.profile_pic_path)}}" alt="" class="img-thumbnail img-front">
                    {% endif %}
                    <h5>Hey Welcome to pitch website</h5>
                    <h2>{{ current_user.username }}</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-body card-content">
                    <div class="content">
                        {% if current_user.profile_pic_path %}
                    <img src="{{url_for('static',filename=current_user.profile_pic_path)}}" alt="" class="img-thumbnail img-front">
                    {% endif %}
                    <h5>{{ current_user.username }} 2nd Nov 2020</h5>
                    <p></p>
                    </div>
                    <div class="body-content">
                        <h3>Hacker rank </h3>
                        <p>I love Solving Hacker rank test they help me a lot in my coding skills</p>
                        <p>Likes 1 | Comments 2</p>
                        <hr>
                        <a href="#" class="btn btn-sm btn-success"><div class="fa fa-thumbs-up"></div></a>
                        <a href="#" class="btn btn-sm btn-dark"><div class="fa fa-comment"></div></a>
                    </div>
                </div>
            </div>
        <div class="col-md-12">
            <div class="container-fluid">
                <a href="{{ url_for('main.pitch') }}">
                    <button class="btn btn-danger">Create a pitch</button>
                </a>
                <br>
                {%for pitch in pitches%}
                    <h4>{{pitch.title}}</h4>
                    <h5> {{pitch.description}}</h5>
                    <p>{{pitch.date}}</p>
                    <a href="{{ url_for('main.comment', post_id=pitch.id) }}" class="btn btn-success">Add comment</a>
                    {%endfor%}
            </div>
        </div>
        </div>
    </div>


{% endblock %}
